

<div class="content-wrapper" style="margin-left: 0px;min-height: 94.8%;">

  <section class="content-header"style="padding: 0;">
<div class="container" style="text-align:center;background-color: #333333b8;color: white">
    <h1>
      Accueil
    </h1>
</div>
 
  </section>

  <section class="container content" style="padding-top: 0px;padding-left: 0px;padding-right: 0px;">
    <ul class="nav nav-pills" style="background-color: #f7f8fa;">
      <li>  
          <a (click)="logout()" class="btn btn-default btn-flat">Déconnexion</a>
      </li>
    </ul>
    <div class="tab-content" style="text-align:center;font-size: 177px;"> Voila </div>
   
  </section>
</div>

